name: AI Review

on:
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:  # позволяет запускать вручную на любой ветке

jobs:
  ai-review:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate .ai-review.yaml dynamically
        run: |
          cat > .ai-review.yaml <<EOF
          llm:
            provider: OLLAMA
            meta:
              model: mistral
              temperature: 0.2
              max_tokens: 2048
            http_client:
              api_url: http://127.0.0.1:11434
              timeout: 600
              headers: {}
              verify_ssl: false
            llm_kwargs: {}

          vcs:
            provider: GITHUB
            pipeline:
              provider: GITHUB_ACTIONS
              workspace: /app
              owner: ${{ github.repository_owner }}
              repo: ${{ github.event.repository.name }}
              repository: ${{ github.event.repository.name }}
              pull_number: "${{ github.event.pull_request.number }}"
              sha: ${{ github.event.pull_request.head.sha }}
              ref: ${{ github.ref }}
            http_client:
              api_url: https://api.github.com
              api_token: ${{ secrets.GITHUB_TOKEN }}
              timeout: 60
              headers: {}
              verify_ssl: true

          review:
            fail_on_severity: NONE
            max_files: 100
            max_diff_size: 500000
            exclude_paths: []
            include_extensions: []

          runtime:
            dry_run: false
            clear_inline_comments: false
            parallelism: 1
          EOF

      - name: Run AI Review
        run: |
          docker run --rm --network=host \
            -v $(pwd):/app \
            -w /app \
            -e AI_REVIEW_CONFIG_FILE_YAML=/app/.ai-review.yaml \
            nikitafilonov/ai-review:latest \
            ai-review run
